.availableGames {
    background-color: rgb(37, 34, 34);
    color: white;
    padding: 2em;

    .title_btn-wrapper {
        display: flex;
        gap: 0.6em;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1em;
        z-index: -30;

        .games_title {
            color: rgb(68, 128, 0);
            text-align: center;
        }

        .create_game-btn {
            all: unset;
            display: flex;
            align-items: center;
            position: relative;
            padding: 0.6em 1em;
            margin: 0;
            /* border: rgb(41, 0, 37) solid 1px; */
            border-radius: 0.25em;
            color: rgb(255, 255, 255);
            font-size: 1.1em;
            /* font-weight: 600; */
            cursor: pointer;
            overflow: hidden;
            transition: border 300ms, color 300ms;
            user-select: none;
        
            p {
                /* z-index: 1; */
                margin: 0;
            }
        
            &:hover {
                color: rgb(255, 255, 255);
            }
        
            &:active {
                border-color: teal;
            }
        
            &::after, &::before {
                content: "";
                position: absolute;
                width: 9em;
                aspect-ratio: 1;
                background: rgb(137, 0, 250);
                opacity: 50%;
                border-radius: 50%;
                transition: transform 500ms, background 300ms;
            }
        
            &::before {
                left: 0;
                transform: translateX(-8em);
            }
        
            &::after {
                right: 0;
                transform: translateX(8em);
            }
        
            &:hover::before {
                transform: translateX(-1em);
            }
        
            &:hover::after {
                transform: translateX(1em);
            }
        
            &:active::before,
            &:active::after {
                background: teal;
            }
        }
        

    }

    .games_wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}