
.game {
    display: flex;
    flex-direction: row;
    gap: 1em;

    .game_data {
        list-style: none;
        padding-left: 0;

    }

    .accessGame_btn {
        height: 60%;
        padding: 1em 1.5em;
    }
}