.gamePage_header {
    height: 10vh;
    width: 100vh;
    .gamePage_title {
        color:white;
        margin: 0;
    }
}
.gamePage_info {
    width: 100%;
    height: 90vh;
    position: fixed;

    .handleScoreBoard_btn {
        position: absolute;
        top: 80px;
        right: 30px;

        transform: rotate(-90deg); /* Voltear el botón 90 grados */
        transform-origin: right center; /* Establece el punto de rotación */

        border-radius: 0.4em;
        background-color: hwb(34 0% 0% / 0.774);
        border: 5px rgb(255, 72, 0);
        font-weight: 600;
        padding: 0.6em;
    }
}