.game_btns-section {
    height: 55vh;
    width: 95vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    position: relative;
    /* padding-top: 3em; */

    .order_swap-wrapper {
        position: absolute;
        bottom: 0px;
        left: 20px;
        display: flex;
        gap: 1em;
        /* height: 20px; */
        
        .alter_cards-btn {
            padding: 0.5em 1.2em;
            border-radius: 0.5em;
            border: none;
            transition: transform 0.2s ease;
            text-align: center;
            font-weight: 600;

            &:hover {
                transform: scale(1.1);
            }
        }

        .order_cards-btn {
            background-color: aquamarine;
        }
        
        .swap_cards-btn {
            background-color: rgb(116, 187, 50);
        }
    }

    .end_game-btns {
        display: flex;
        gap: 1em;

        padding-left: 2em;

        position: absolute;
        top: 0;
        left: 0;

        .end_game_btn {
            border-radius: 0.5em;
            border: none;
            padding: 1.5em 3em;
            font-size: 0.9em;
            font-weight: 600;
        }
        .tocar_btn {
            background-color: blue;
            color: white;

            transition: background-color 0.5s ease, color 0.5s ease, transform 0.2s ease;

            &:hover {
                background-color: rgb(13, 7, 92);
                transform: scale(1.02);
            }
        }
        .bajarse_btn {
            background-color: green;
            color: white;
            transition: background-color 0.5s ease, color 0.5s ease, transform 0.2s ease;

            &:hover {
                background-color: rgb(21, 92, 7);
                color: black;
                transform: scale(1.02);
            }
        }
    }

    .card_btns {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
        gap: 2em;
        height: 100%;
        width: 50%;
        
        .arrastrar-div {
            /* height: 80%; */
            height: 80%;
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* gap: 1em; */
            .arrastrar-title {
                margin: 0;
                color: white;
                text-align: center;
            }
            .arrastrar-img_container {
                width: 100%; /* El contenedor ocupa el 100% del ancho del padre */
                height: 80%;
                overflow: hidden; /* Evita el overflow del contenido */
                /* border: 1px solid red; */
                transition: transform 0.2s ease;

                &:hover {
                    transform: scale(1.04);
                }

                .arrastrar_img {
                    width: auto; /* La imagen ocupa el 100% del ancho del contenedor */
                    height: 100%; /* Mantiene la proporción de la imagen */
                    display: block; /* Elimina los espacios en blanco bajo la imagen */
                    margin: 0 auto;
                    /* max-width: 100%; Evita que la imagen exceda el tamaño del contenedor */
                }
            }
        }

        .carta_tirada-div {
            height: 80%;
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;
            
            .carta_tirada-title {
                margin: 0;
                color: white;
                text-align: center;
            }

            .card {
                height: 70%;
                width: 60%;
                max-width: 110px;
                max-height: 160px;
                border: 2px solid white;
                border-radius: 0.6em;
                background-color: rgb(241, 241, 223);
                transition: transform 0.2s ease;
            
                &:hover {
                    transform: scale(1.02);
                }
            
                .card_header {
                    height: 20%;
                    width: 100%;
                    display: flex; /* Hace que el contenedor use flexbox */
                    align-items: center; /* Centra verticalmente el contenido */
                    justify-content: flex-start; /* Empuja el contenido hacia la derecha */
                    .card_rank {
                        margin: 0;
                        padding: 0.3em 0.3em;
                        /* color: white; */
                    }
                    .red_suit {
                        color: red;
                    }
                }
                .card_body {
                    height: 60%;
                    width: 60px;
                    margin: 0 auto;
                    display: flex; /* Utiliza flexbox para alineación */
                    justify-content: center; /* Centra horizontalmente */
                    align-items: center; /* Centra verticalmente */
            
                    .img_container {
                        width: 100%; /* El contenedor ocupa el 100% del ancho del padre */
                        overflow: hidden; /* Evita el overflow del contenido */
            
                        .card_img {
                            width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
                            height: auto; /* Mantiene la proporción de la imagen */
                            display: block; /* Elimina los espacios en blanco bajo la imagen */
                            max-width: 100%; /* Evita que la imagen exceda el tamaño del contenedor */
                        }
                    }
                    
                }
                .card_footer {
                    height: 20%;
                    width: 100%;
                    display: flex; /* Hace que el contenedor use flexbox */
                    justify-content: flex-end; /* Empuja el contenido hacia la derecha */
                    align-items: center; /* Centra verticalmente el contenido */
                
                    .card_rank {
                        margin: 0;
                        padding: 0.3em 0.3em;
                        /* color: white; */
                    }
                    .red_suit {
                        color: red;
                    }
                }
            }
        }
    }

    .tirar_btn-div {
        margin-bottom: 0.5em;
        position: absolute;
        bottom: 0;
        right: 0;

        .tirar_btn {
            padding: 1em 3em;
            background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.04) 0px, rgba(0,0,0,0.04) 2px,transparent 2px, transparent 4px),linear-gradient(45deg, rgb(190,35,0),rgb(255,216,0));
            color: rgba(0, 0, 0, 0.836); /* Color del texto original */
            font-weight: 900;
            border: 2px solid rgb(255, 81, 0);
            border-radius: 0.5em; /* Bordes redondeados */
            font-size: 1em; /* Tamaño de fuente */
            letter-spacing: 0.05em; /* Espaciado entre letras */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
            transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones más suaves */
        
            /* Efecto de enfoque */
            &:focus {
                outline: none; /* Quitar contorno predeterminado del enfoque */
                box-shadow: 0 0 0 3px rgba(216, 82, 5, 0.5); /* Contorno enfocado en color del botón */
            }
        
            /* Efecto en el estado hover */
            &:hover {
                background-color: rgb(233, 70, 6); /* Color de fondo en hover */
                color: black; /* Color del texto en hover */
                transform: scale(1.1); /* Aumento de tamaño en hover */
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada en hover */
            }
        }
    }
}