
.player-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 0.5em 8em;
    border-radius: 0.4em;
    border: 2px solid transparent;
    background-color: rgb(36, 34, 34);
    transition: backgrond-color 0.2s ease, border 0.4s ease, box-shadow 0.1s ease;
    
    .player-name {
        color: white;
        font-size: 1.3em;
    }
    .player-created_date {
        color: rgba(123, 126, 119, 0.822);
    }

    &:hover {
        background-color: rgb(24, 22, 22);
        border: 2px solid rgb(183, 0, 255);
        box-shadow: 0 4px 8px rgb(228, 23, 255);
    }
}